<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a href="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <!-- Logo ve başlık burada -->
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">AngularAuthApp</span>
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <div *ngIf="userEmail" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="text-md font-bold text-gray-800 dark:text-white">Welcome, {{ userEmail }}</span>
      </div>
      <div *ngIf="userEmail" class="flex items-center justify-center rounded-md p-2 bg-red-800 cursor-pointer" (click)="logout()">
        <span class="text-md font-bold text-white dark:text-white">Logout</span>
      </div>
      <!-- Kullanıcı e-postası yoksa Login linkini göster -->
      <div *ngIf="!userEmail" class="flex items-center justify-center rounded-md p-2 bg-blue-800 cursor-pointer">
        <a href="/login" class="text-md font-bold text-white dark:text-white hover:underline">Login</a>
      </div>
    </div>
  </div>
</nav>
